@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Satisfy&display=swap');
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    text-align: center;
    overflow-x: hidden;
}

.facts_accordion {
    width: 100%;
    margin: 5px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
  
.active, .accordion:hover {
    background-color: #ccc;
}
  
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion {
  border-radius: 0!important;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active {
  border-radius: 10px;
  background-color: rgb(109, 88, 112, 0.6)!important;
}

.font-purple {
  color: rgba(89, 89, 114, 0.9);
}
  
.bg-purple {
  background-color: rgba(89, 89, 114, 0.9);
}

.bg-pink {
  background-color: rgb(190, 153, 168);
}

.blur {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.logo-font {
  font-family: 'Pacifico', sans-serif;
  font-size: 3rem;
}

.round-border {
  border-radius: 20px;
}

.round-border-top {
  border-radius: 15px 15px 0 0;
}

.fixed {
  position: fixed;
}

/* ------HERO IMAGE FACTS.html------ */

.hero-image-facts {
  min-width: 100%;
  height: 100%;

  background-color: #fafafa;
  background: -webkit-gradient(linear, left bottom, left top, from(#fafafa), to(transparent)), 
      url('../images/happy.jpg');
  background: -o-linear-gradient(left bottom, left top, from(#fafafa), to(transparent)), 
      url('../images/happy.jpg');
  background: linear-gradient(to top, #fafafa, transparent), 
      url('../images/happy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}

#facts-subhead {
  width: 45%;
  border-style: solid;
  border-color: gray;
  border-width: 3px;
  border-radius: 15px;
  background-color:rgba(255,192,203, 0.5);
  margin: 10px;
  margin-left: 30px;
  margin-top: 150px;
  padding: 10px;
  float: left;

}

/* -------------------------- NAVBAR and FOOTER -------------------------- */

nav{
    background-color: rgb(72, 86, 101);
}

.navbar-brand, .nav-link{
    color: white;
}
#footer-links > a:hover{
  color: pink;
}
#footer-socials > a > i:hover {
  color: pink;
}
.nav-link:hover, .navbar-brand:hover{
    color: pink;
}

.navbar-brand {
  font-family:'Pacifico', sans-serif;
  font-size: 25px;
  padding-top: 5px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar-collapse a {
text-align: center;
}

footer {
    background-color: rgb(89, 89, 114);
    width: 100%;
    /* position: fixed; */
    bottom: 0;
    line-height: 70px;
}

footer > span > a > i {
    font-size: 1em;
    margin-left: 10px;
    margin-right: 10px;
}

.footer-span a {
  color: white;
}

.footer-span i {
  font-size: 25px;
}

#footer-partners img {
  height: 35px;
}

.nav-blur {
  background-color: rgba(89, 89, 114, 0.7);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.navbar li {
  margin: 0 6px;
}

.navbar-toggler-icon{
  color: white;
}

#it-lab {
  background-color: #fafafa;
  border-radius: 5px;
  padding: 3px;
}

.ol-padding {
  text-align: left;
  padding: 5% 25% 0 40%;
}

.ol-padding li {
  padding-left: 20px;
}

.breast-cross-section img {
  margin: 15px 0;
  border-radius: 10px;
}

/* -------------------------- MARGINS -------------------------- */

.ml-auto {
  margin-left: auto!important;
}

footer > span > a {
    color: white;
}

.footer-span{
    color: white;
    height: 70px;
    margin-left: 50px;
}

#footer-logo {
    float: left;
    font-size: 30px;
    font-weight: 700;
}
#footer-logo > img{
    transform: rotate(270deg);
}
#footer-partners{
    float: right;
    margin: 0 30px;
}


/*----------------Contact-----------*/
.contact-body{
  background: url(../images/contactbg.jpeg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}

.contact-section{
  margin-top: 150px;
  margin-bottom: 120px;
}
.contact-heading{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 20px;
}

.contact-headers{
  background-color: rgba(255, 255, 255, 0.699);
  width: 400px;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 1px;
  border-radius: 20px;
}
.center-form{
  padding-top: 10px;
  margin: 0 auto;
  max-width: 50%;
}

button[type="submit"]{
  margin-top: 15px;
  margin-bottom: 30px;
  width: 250px;
  height: 50px;
  border-radius: 15px;
  background-color: rgb(200, 200, 200);
  color: rgb(79, 77, 112);
}

.form-control{
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.contact-form{
  background-color: rgba(89, 89, 114, 0.6);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  margin-bottom: 40px;
  border-radius: 15px;
  
}
.form-control:hover,
.form-control:active,
.form-control:focus{
  background-color: rgb(255, 241, 254);
}

/* -------------------------- QUIZ -------------------------- */

:root {
    --hue-neutral: 305;
}

.quiz-div {
  height: 100vh;
}

.quiz-div, .quiz-div::before, .quiz-div::after {
    box-sizing: border-box;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 20%, 85%);
}

.quiz-div.correct {
    background-color: #018667cc;
}

.quiz-div.wrong {
    background-color: #C83C51cc;
}

.quiz-header {
  margin: 70px 10px 30px 10px;
}

.quiz-container {
    width: 700px;
    min-height: 200px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 45%;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.answer-btn {
    --hue: var(--hue-neutral);
    background-color: #8E7C93;
    border: 1px solid hsla(288, 9%, 32%, 0.824);
    padding: 5px 10px;
    color: white;
    outline: none;
}

.answer-btn:hover {
    background-color: #C29EB2;
}

.answer-btn.correct {
    background-color: #018667cc;
}

.answer-btn.wrong {
    background-color: #C83C51cc;
}

.controls {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-btn, .next-btn {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 15px;
    background-color: #F6C0D0;
    color: #485665;
}

.start-btn:hover, .next-btn:hover {
  background-color: #8E7C93;
  color: white;
}


.hide {
    display: none;
}



/* Small and extra small devices */
@media only screen and (max-width: 600px) {
    .quiz-container {
        max-width: 99vw;
        margin: 80px 0;
        margin-bottom: 50%;
    }
}











/* -------------------------- INDEX -------------------------- */



.index-hero-video {
  z-index: -1;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

#large-video{
  min-width: 100%;
  min-height: 100%;
}
#small-video{
  display: none;
}

.index-container{
  padding-bottom: 150px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.541);
  padding-top: 100px;
  /* margin-bottom: -100px; */
}


.index-heading{
  color: rgb(255, 255, 255);
  font-size: 5em;
  font-weight: 600;
  background-color: rgba(97, 95, 122, 0.418);
  width: 70%;
  height: 150px;
  line-height: 150px;
  border-radius: 50px;
  margin: auto;
  font-family: 'Pacifico', sans-serif;
}

#breast-check-video{
  margin-top: 30px;
  width: 800px;
  height: 400px;
}

.story-container{
  width: 100%;
}
.story-content {
  padding: 20px;
  text-align: justify;
}
.story-image{
  border-radius: 50%;
  width: 200px;
  margin: 10px;
  border: 2px solid white;
}

.story-container > .row > .col > a {
  color: rgb(231, 27, 180);
  text-decoration: none;
  font-weight: 700;
  margin-bottom: 20px;
  
}

.story-container > .row > .col > a:hover {
  color: rgb(92, 43, 121);
  text-decoration: underline;
  
}

.story-col{
  margin: 50px;
  background-color: rgba(255, 255, 255, 0.658);
}

.row > *{
  padding-right: 0px;
  padding-left: 0px;
}
.story-header{
  width: 100%;
  border: 2px solid rgb(253, 172, 185);
  line-height: 30px;
  background-color: rgba(255, 192, 203, 0.692);
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  padding-left: 10px;
}

.index-callout{
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  background-color: rgba(97, 95, 122, 0.418);
  width: 70%;
  
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 50px;
  margin: auto;
}

#index-here{
  background-color: pink;
  padding: 2px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
}

#index-here > a{
  text-decoration: none;
  color: black;
}

#index-here > a:hover{
  color: grey
}  

/* --------- RISKS ------- */

.hero-image {
  min-height: 60vh;

  background-color: #fafafa;
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(167, 167, 212)), to(transparent)), 
      url('../images/risk-image.jpeg');
  background: -o-linear-gradient(left bottom, left top, from(rgb(167, 167, 212)), to(transparent)), 
      url('../images/risk-image.jpeg');
  background: linear-gradient(to top, rgb(167, 167, 212), transparent), 
      url('../images/risk-image.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.risks-container {
  padding-bottom: 10%;
  background-color: rgb(167, 167, 212);
}

.risks-box {
  padding: 0 12% 7%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}

.risk-content button {
  background-color: rgba(255,255,255,0.5);
}

/* -- SYMPTOMS -- */

#symptoms-video {
  width: 500px;
  height: 300px;
  margin-left: 50px;
  margin-top: 10%;
}

.symptoms-box {
  padding: 0 10% 7%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}

.symptoms-container {
  padding-bottom: 10%;
  background-color: rgb(190, 153, 168);
}

.hero-image-symp {
  min-height: 60vh;

  background-color: #fafafa;
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(190, 153, 168)), to(transparent)), 
      url('../images/symp.jpeg');
  background: -o-linear-gradient(left bottom, left top, from(rgb(190, 153, 168)), to(transparent)), 
      url('../images/symp.jpeg');
  background: linear-gradient(to top, rgb(190, 153, 168), transparent), 
      url('../images/symp.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* -- 404 -- */

.error-heading{
  color: rgb(255, 255, 255);
  font-size: 5em;
  font-weight: 600;
  width: 70%;
  height: 150px;
  line-height: 150px;
  margin: auto;
  font-family: 'Pacifico', sans-serif;
}


/* -- MEDIA QUERIES --*/

@media screen and (max-width: 1400px){
  #large-video{
    display: none;
  }
  #small-video{
    display: block;
    max-height: 100vh;
    min-width: 100%;
  }
  .col{
    margin: 20px;
  }
}

@media screen and (max-width: 1000px){
  .index-heading{
    font-size: 3em;
  }

  .footer-logo {
    display: none;
  }
}

@media screen and (max-width: 991px) {

  #footer-partners {
    float: none;
  }

  .footer-span {
    margin-left: 0;
  }
}

@media screen and (max-width: 850px){
  #breast-check-video, 
  #symptoms-video{
    width: 400px;
    height: 250px;
  }

  #symptoms-video {
    margin: 10% 0 0;
  }
}

@media screen and (max-width: 620px){
  .index-heading{
    font-size: 2em;
    height: 100px;
    line-height: 100px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 440px){
  #breast-check-video,
  #symptoms-video{
    width: 90%;
    height: 200px;
  }

  .index-heading{
    font-size: 1.5em;
  }
}

@media screen and (max-width: 1000px){
  .center-form{
      max-width: 70%;
  }
}

@media screen and (max-width: 600px){
  .center-form{
      max-width: 90%;
  }
  .contact-headers{
    max-width: 90%;
  }
}

@media screen and (max-width: 340px){
  button[type="submit"]{
      width: 90%;
  }
}




















































































































































































































/* Kat - FACTS.html again */

.facts_accordion > h3 {
  width: 100%;
    border: 2px solid rgb(253, 172, 185);
    line-height: 30px;
    background-color: rgba(255, 192, 203, 0.692);
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    padding-left: 10px;
}

#facts-bottom {
  width: 95%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 15px;
}

.facts-box {
  width: 100%;
  border-style: solid;
  border-color: gray;
  border-width: 3px;
  border-radius: 15px;
  background-color:rgba(255,192,203, 0.5);
  margin: 10px;
  padding: 5px
}

#left-wrapper{
  width: 33.33%;
  float: left;
  height: auto;
  margin: 5px;
  margin-right: 20px;
}

#right-wrapper{
  width: 33.33%;
  float: right;
  height: auto;
  margin: 5px;
  margin-left: 25px;
}

#centre-wrapper{
  width: 33.33%;
  height: auto;
  margin: 5px;
}

.breast-cross-section {
  height: auto;
  border: 3px solid gray;
  border-radius: 15px;
  background: rgba(238, 238, 238, 0.5);
  width: 45%;
  margin-left: 53%;
  padding: 0.5em;
  margin-top: 40px;
  }
  
  .breast-cross-section > img {
    width: 207px;
    height: 240px;
    font-weight: 700;
  }

@media only screen and (max-width: 1025px) {

  /* bottom section on facts.html - when the screen is less than 1025px wide, make the three boxes stack on top of each other instead of next to each other */
  #facts-bottom {
      width: 80%;
      height: auto;
      display: flex;
      flex-direction: column;
  }

  #left-wrapper {
    width: 100%;
    margin-bottom: 25px;
    margin-left: -5px;
}

  #right-wrapper {
    width: 100%;
    margin-left: -5px;
}

#centre-wrapper {
    width: 100%;
    margin-bottom: 25px;
    margin-left: -5px;
    clear: both;
}

.breast-cross-section {
  width: 80%;
  margin-left: 30px;
  margin-top: 15px;
}

#facts-container-top {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
}

#facts-subhead {
  width: 100%;
  margin-top: 25px;
}
}

#facts-container-top {
  padding: 20px 0;
  margin-top: 55px;
  height: 100%;
}

.hidden {
  display: none;
}

.text-left {
  text-align: left!important;
}


